<div class="form-group">
  <%= f.label :name, :class => 'control-label' %>
  <%= f.text_field :name, :class => 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :description, :class => 'control-label' %>
  <%= f.text_field :description, :class => 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :price, :class => 'control-label' %>
  <%= f.text_field :price, :class => 'form-control' %>
</div>